snippet and "simbolo de primera logica"
∧
endsnippet

snippet or "simbolo de primera logica"
∨
endsnippet

snippet not "simbolo de primera logica"
¬
endsnippet

snippet entonces "simbolo de primera logica"
→
endsnippet

snippet para-todo "simbolo de primera logica"
∀
endsnippet

snippet para-algunos "simbolo de primera logica"
∃
endsnippet
